{% extends 'base.html' %}

{% block content %}
<h1> Rooms List </h1>
{% if country %}
  <h2> Search Result </h2>
  <p class="px"> {{search }}: {{ country }}</p>
  <p class="px"></p> Check-in: {{ from_date }}</p>
  <p class="px"> Check-out: {{ to_date }}</p>
  </div>

{% endif  %}
{% if rooms %}
{% for room in rooms %}
  <div class="row">
    <div class="col s6">
      <div class="card blue-grey darken-1 card-body">
        
      <div class="card-content white">
      <div class="center">
    {% load static %}
    <img width="450px" height='350px'src="{% static room.image|cut:'main_app/static' %}"/>
  </div>


        <a href="{% url 'room_detail_alt' room.id %}"> <span class="card-title">{{ room.name }}</span>
        </a>

    <p>Price: {{ room.price }}</p>
      <p>Address: {{ room.address }}</p>
      <p>Description: {{ room.description }}</p>

            </div>
          </div>
        </div>

{% endfor %}
{% else %}
<h2> No Rooms Available</h2>
{% endif %}
</div>
{% endblock %}