{% extends 'base.html' %}

{% block content %}

{% if country %}
  <h2> Search Result </h2>
  <p> Country: {{ country }}</p>
  <p> Check-in: {{ from_date }}</p>
  <p> Check-out: {{ to_date }}</p>
  </div>

  {%  else %}
  <h1> Rooms List </h1>

{% endif  %}

{% for room in rooms %}
  <div class="row">
    <div class="col s6">
      <div class="card blue-grey darken-1 card-body">
        
      <div class="card-content white">
      <div class="center">
    {% load static %}
    <img width="450px" height='350px'src="{% static room.image|cut:'main_app/static' %}"/>
  </div>

      {% if user.user_type == 'ADMIN' %}
      <a href="{% url 'detail' room.id %}">    <span class="card-title">{{ room.name }}</span>
      </a>
      {% else %}
        <a href="{% url 'room_detail_alt' room.id %}"> <span class="card-title">{{ room.name }}</span>
        </a>
      {% endif %}    
  

    <p>Price: {{ room.price }}</p>
      <p>Address: {{ room.address }}</p>
      <p>Description: {{ room.description }}</p>

            </div>
          </div>
        </div>

{% endfor %}
</div>
{% endblock %}