{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{% url 'add_review' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" name="room_id" value="{{ room.id }}">
  <button type="submit">Submit Review</button>
</form>
</div>  
<table class="striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>comment</th>
    </tr>
  </thead>
  <tbody>
    {% for review in room.reviews.all %}
    <tr>
      <td>{{review.date}}</td>
      <td>{{review.comment}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  let dateEle = document.getElementById('id_date');
  M.Datepicker.init(dateEle, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoclose: true
  })
</script>
{% endblock %}