{% extends 'base.html' %}

{% block content %}

<h1> Booking Details </h1>

  <div class="card">
      {% load static %}
      <img width="350px" height="350px" src="{% static room.image|cut:'main_app/static/' %}" class="imgsize"/>
      <div class="flex-container"></div>
    <div class="card-content">
      <span class="card-title">{{ room.name }}</span>
      <p>Description: {{ room.description }}</p>
      <p>roomType:  {{room.get_roomType_display}}</p>
      <p>size:  {{room.size}}</p>
      <span>Price per night: BD <input id="room_price" value="{{room.price}}"></input></p>
      <span>Check-in: <input value="{{context.check_in}}"></input></p>
      <span>Check-out <input value="{{context.check_out}}"></input></p>

      <label>Number of nights:</label><input value="{{context.nights}}">
      <span>Total Price: BD <input  value="{{context.price}}"></span>

      <div>
      </div>
      </div>
    </div>
    <h5>Guest Details:</h5>
    <div>  <form method="post" action="{% url 'add_booking' room.id user.user_id %}">
      {% csrf_token %}

     <input type="hidden" id="id_from_date" name="from_date" value="{{context.check_in}}" >
    <input type="hidden" id="id_to_date" name="to_date" value ="{{context.check_out}}">
    Guest Name: <input type="text" id="id_gues_name" name="guest_name" value="{{user.full_name}}"><br>
    Guest Email:   <input type="email" id="id_guest_email" name="guest_email" value="{{email.email}}"><br>
    Guest Phone:   <input type="text" id="id_guest_mobile" name="guest_mobile" value="{{user.phone_number}}"><br>
    Additional request:<input type="text" id="id_comment" name="comment"><br>

    <input type="text" id="id_price" name="price" value="{{context.price}}">

    <input id="book_btn" type="submit" class="btn" value="Place Booking">
    </form></div>

{% endblock %}