{% extends 'base.html' %}
{% block content %}

{% if context %}
<h2>{{ user }}'s Rooms Bookings</h2>
{% for r in context %}

<div class="card">

<div class="card-content">

<div class="flex-container"> 

  
<div>

<span class="card-title">{{ r.booking.room }}</span>
<a href="{% url 'room_detail_alt' r.room.id %}">
  <p class="px">Booking#: {{ r.booking.id }}</p>
  <p class="px">check-in: {{ r.booking.from_date }}</p>
  <p class="px">check-out: {{ r.booking.to_date }}</p>
<p>Created by: {{ r.booking.user }}</p>
<p>Guest Name: {{ r.booking.guest_name }}</p>
<p>Guest Email: {{ r.booking.guest_email }}</p>
<p>Guest Phone: {{ r.booking.guest_mobile }}</p>
<p class="px">Booking Price: {{ r.booking.price }}</p>
{% if r.booking.comment %}
<p class="px">Additional Request: {{ r.booking.comment }}</p>
{% endif %}
{% if r.booking.status == 'A' %}
<p class="px">Status :<span class="teal-text">Confirm</span>  </p>
{% else %}
<p class="px">Status :<span class="red-text">Canceled</span>  </p>
{% endif %}
 </div>
 <div> 
  {% load static  %}
  <img width="350px" height="350px" src="{% static r.room.image|cut:'main_app/static/' %}" class="imgsize"/></a>
</div>
</div>
</div>  

</div>
{% endfor %}

{% else %}
<h2> {{user}} have no Booking!</h2>
{% endif%}
{% endblock %}