{% extends 'base.html' %}

{% block content %}

<div class="row">

  <div class="col s12 m4 l3"> 
    <div class="sidebar">
      <ul class="sidebar-menu">
        <li><a href="{% url 'facilities_index' %}" class="admin-nav"><img src="\static\image\icons8-add-to-favorites-100.png" alt="" width="60px" height="60px">add facility</a></li>
        
        <li><a href="{% url 'room_create' %}"><img src="\static\image\icons8-5-star-hotel-100.png" alt="" width="60px" height="60px">Add Room</a></li>
        
        <li><a href="{% url 'facilities_create' %}"><img src="\static\image\icons8-room-80.png" alt="" width="60px" height="60px"> Facilities</a></li>

        
      </ul>
    </div>
  </div>

  <div class="col s12 m8 l9"> 
    <h1>BaytKom</h1>
  </div>

</div>
{% endblock %}