{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Baytkom</title>
  
  <link rel="shortcut icon" href="{% static 'image/favicon2.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
</head>

<body>

  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>

          <li> <a href="{% url 'home' %}" class='left brand-logo'>
            <div class="h_logo">
              <img src="{% static 'css/backgrounds/logo.jpg' %}" class="b_logo">aytkom</div>
       
          </a></li>
        </ul>

        <ul class="right">

          <li> <a href="{% url 'about' %}"> About</a></li>
          <li> <a href="{% url 'index_list' %}"> Rooms</a></li>
          {% if user.is_authenticated %}
          
          
          <div class="profile-picture right" style="width: 50px; height: 50px; background-color: #f2f2f2; border-radius: 50%;">
            <img src="{% static user.profile.image|cut:'main_app/static' %}" style="width: 50px; height: 50px; border-radius: 50%;"/>
            </div>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          
          <li> <a href="{% url 'user_booking' %}">User Bookings</a></li>

          <li> <a href="{% url 'room_booking' %}">Room Booking</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
          {% if user.is_superuser %}
          <li> <a href="{% url 'admin_dashboard' user.id %}">Admin dashboard</a></li>
          
          {% endif %}
        </ul>

    </nav>

  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer "> 
    <div class="center">
      <h3 class="BaytKom-footer">Baytkom</h3> 
      All Rights Reserved, &copy; 2023 BaytKom   
    </div>
    
  </footer>

  </body>

</html>