{% extends 'base.html' %}

{% block content %}
<body onload="calculateDifference()"></body>

<h1> Room Details </h1>
<div class="container">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->

    <div class="swiper-wrapper">
      <!-- Slides -->    
      <div class="swiper-slide">
        
          {% load static %}
      <img width="350px" height="350px" src="{% static room.image|cut:'main_app/static/' %}" class="imgsize center"/>
    </div>
      {% for roompic in room_pic %}
      <div class="swiper-slide">
        
          {% load static %}
          <img width="300px" height="300px" src="{% static roompic.roomImages|cut:'main_app/static/' %}"  class="imgsize"/>
          
    </div>
    {% endfor %}
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
  
  </div>
  </div>
  </div>
    <div>
      <h3>{{ room.name }}</h3>
      <p>Description: {{ room.description }}</p>
      <p>Room Type:  {{room.get_roomType_display}}</p>
      <p>Size:  {{room.size}}</p>
      <p>Price: {{room.price}}</p>
      <input type="hidden" id="room_price" value="{{ room.price}}">
      <p>Country:  {{room.country}}</p>
      <p>City:  {{room.city}}</p>
      <p>Street:  {{room.street}}</p>
      <p>Address:  {{room.address}}</p>
      <p>Location:  {{room.location}}</p>
    </div>

      <div class="row">
        <div class="col s6 ">
          <h6> {{ room.name }}'s Facilities</h6>
          {% if room.facilities.count  %}
            {% for facility in room.facilities.all  %}
            <div class="card">
              <div class="card-content">
                <span>
                  {{ facility.name }}               
                    {% load static %}
                    <img width="40px" height="40px" src="{% static facility.icon|cut:'main_app/static/' %}"class="imgsize right"/>
                </span>
            </div>
          </div>
            {% endfor %}
            {% else %}
            <h5>No Facility</h5>
            {% endif %}
          </div>
        </div>
        <div class="card-action">

       </div>
     
        <form  method="GET" action="{% url 'check_availability' %}">
          {% csrf_token %}
          
         <input type='hidden'  name='s_room_id' id='s_room_id' value='{{ room.id }}'>
          <p>Check-in:<input type='text'   id='check_in' name='check_in' value="{{ context.check_in }}"></p>
          <p>Check-Out:<input type='text'  id='check_out' name='check_out' value="{{ context.check_out }}"></p>
          <input type="submit" id="btn_availability" value="Check Availability">
        </form>
        
        <p id="date_note" class="red-text"></p>
        <p id="result"></p>
        <h5> <span id="night_result"></span></h5><br>
        <h5><span id="price_result" class="red-text"></span></h5> <br>
    
        <div class="card">
   
          {% if context.check < 0  %}
          <div class="card-panel red-text center-align">
            {{room.name}} has already booked for selected days! 
            
            </div>
          {% elif context.check > 0  %}
          <div class="card-panel teal-text center-align" > 
             {{ room.name }} is available for selected days!
          <br>
         
          <br> 
          <form method="GET" action="{% url 'booking_create' room.id %}">
            <input type="hidden" name="price_id" id="price_id"> 
            <input type="hidden" id="book_check_in" name="book_check_in" value="{{ context.check_in }}">
            <input type="hidden" id="book_check_out" name="book_check_out" value="{{ context.check_out }}">
            <input type="hidden" id="nights" name="nights">

            <input  type="submit" value="Book the Room">
            </form>

           </div>
           {% else  %}
           <div class="card-panel teal-text center-align" > 
              Check if room is available!
            </div> 
          {% endif %}

        </div>
</body>
      <script>
          let fromDateEle = document.getElementById('check_in');
          let toDateEle = document.getElementById('check_out');
    
          M.Datepicker.init(fromDateEle, {format: 'yyyy-mm-dd',   defaultDate: new Date(),
            setDefaultDate: false,
            autoClose: true
          })  
      
          
          M.Datepicker.init(toDateEle, {format: 'yyyy-mm-dd',   defaultDate: new Date(new Date().getTime() + 24 * 60 * 60 * 1000),
            setDefaultDate: false,
            autoClose: true
          })  

    let note = document.getElementById("date_note"); 
    let n_resultElement = document.getElementById('night_result');
    let p_resultElement = document.getElementById('price_result');
    let room_p = document.getElementById('room_price').value;
  

    const calculateDifference=()=> {
 
      const date1 = new Date(fromDateEle.value);
      const date2 = new Date(toDateEle.value);

      const today = new Date();
      if (date1 >= date2 || date1 < today-1){
        fromDateEle.innerText = '';
        toDateEle.innerText = '';
        note.innerText = 'Invalid Dates';
        document.getElementById('btn_availability').disabled = true;

  

      } else {
        document.getElementById('btn_availability').disabled = false;
        note.innerText = '';
      
      if (date1 && date2) {
        console.log('hhhhh')
        const differenceInTime = date2.getTime() - date1.getTime();
        differenceInDays = differenceInTime / (1000 * 3600 * 24);
        if (differenceInDays > 0 ){
        n_resultElement.textContent = `No of nights: ${differenceInDays} nights.`;
       
        the_price = differenceInDays * room_p;
        p_resultElement.textContent = `Total Price : BD ${differenceInDays * room_p}`;
        console.log("ppppppppp:",the_price)
        document.getElementById('price_id').value = the_price;
        document.getElementById('nights').value = differenceInDays;
       } else {
        n_resultElement.textContent = '';
        p_resultElement.textContent = '';
        }
      }
    else{
      n_resultElement.textContent = '';
      p_resultElement.textContent = '';
    }
    }
    }
  
    fromDateEle.addEventListener('change', calculateDifference);
    toDateEle.addEventListener('change', calculateDifference);

    toDateEle.addEventListener('open', calculateDifference);
    toDateEle.addEventListener('input', calculateDifference);

      </script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },
loop: true,

pagination: {
el: '.swiper-pagination',
clickable: true,
},


navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev',
},

scrollbar: {
el: '.swiper-scrollbar',
},
});
</script>
{% endblock %}