{% extends 'base.html' %}

{% block content %}

<h1> Room Details </h1>
<div class="container">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->

    <div class="swiper-wrapper">
      <!-- Slides -->    
      <div class="swiper-slide">
        
          {% load static %}
      <img width="350px" height="350px" src="{% static room.image|cut:'main_app/static/' %}" class="imgsize center"/>
    </div>
      {% for roompic in room_pic %}
      <div class="swiper-slide">
        
          {% load static %}
          <img width="300px" height="300px" src="{% static roompic.roomImages|cut:'main_app/static/' %}"  class="imgsize"/>
          
    </div>
    {% endfor %}
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
  
  </div>
  </div>
  </div>
    <div>
      <h3>{{ room.name }}</h3>
      <p>Description: {{ room.description }}</p>
      <p>Room Type:  {{room.get_roomType_display}}</p>
      <p>Size:  {{room.size}}</p>
      <p>Price: {{room.price}}</p>
      <p>Country:  {{room.country}}</p>
      <p>City:  {{room.city}}</p>
      <p>Street:  {{room.street}}</p>
      <p>Address:  {{room.address}}</p>
      <p>Location:  {{room.location}}</p>
    </div>

      <div class="row">
        <div class="col s6 ">
          <h6> {{ room.name }}'s Facilities</h6>
          {% if room.facilities.count  %}
            {% for facility in room.facilities.all  %}
            <div class="card">
              <div class="card-content">
                <span>
                  {{ facility.name }}               
                  <div>
                    {% load static %}
                    <img width="40px" height="40px" src="{% static facility.icon|cut:'main_app/static/' %}"class="imgsize right"/>
                  </div>
                </span>
            </div>
          </div>
            {% endfor %}
            {% else %}
            <h5>No Facility</h5>
            {% endif %}
          </div>
        </div>
        <div class="card-action">
          


       </div>

        <form method="GET" action="{% url 'check_availability' %}">
          {% csrf_token %}
          
         <input type='hidden'  name='s_room_id' id='s_room_id' value='{{ room.id }}'>
          <p>Check-in:<input type='text'   id='check_in' name='check_in' value="{{ context.check_in }}"></p>
          <p>Check-Out:<input type='text'  id='check_out' name='check_out' value="{{ context.check_out }}"></p>
          <input type="submit" value="Check Availability">
        </form>
        <div class="card">
   
          {% if context.check > 0  %}
          <p class="teal-text"><h5> Dates are available  </h5></p> 
          <a href="{% url 'booking_create' room.id %}"> <button>Book the Room</button></a>
          {% elif context.check < 0  %}
          <p class="red-text"></p>><h5> Dates are not available  </h5></p> 
          {% else %}
          <p><h5> Check if Dates are available  </h5></p> 

          {% endif %}

        </div>


      <script>
          let fromDateEle = document.getElementById('check_in');
          let toDateEle = document.getElementById('check_out');
    
          M.Datepicker.init(fromDateEle, {format: 'yyyy-mm-dd',   defaultDate: new Date(),
            setDefaultDate: false,
            autoClose: true
          })  
      
          M.Datepicker.init(toDateEle, {format: 'yyyy-mm-dd',   defaultDate: new Date(new Date().getTime() + 24 * 60 * 60 * 1000),
            setDefaultDate: false,
            autoClose: true
          })  

      </script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },
loop: true,

pagination: {
el: '.swiper-pagination',
clickable: true,
},


navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev',
},

scrollbar: {
el: '.swiper-scrollbar',
},
});
</script>
{% endblock %}