{% extends 'base.html' %}
{% block content %}  
{% load static %}
<br>
<br>
<br>
<br>
<br>
<div class="flex">    
    <img width="100px" height='100px'src="{% static  'image\work-in-progress.png' %}" width="200px" height="200px"/>
  <h1>..Wait For It!!!</h1>

  </div>
  <!-- <div class="row"> -->
    <div class="col s12 m6">
      <div class="card blue-grey">
        <div class="card-content white-text">
          <span class="card-title">Adding Google Map Api's</span>
<li>place</li>
<li>Marker</li>
<li>Direction</li>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue-grey">
        <div class="card-content white-text">
          <span class="card-title">Online Payment</span>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue-grey">
        <div class="card-content white-text">
          <span class="card-title">Adding additional Booking Service</span>
<li>Airline Ticket</li>
<li>Taxi / Car Rent</li>
<li>Booking Activity</li>
        </div>
      </div>
    </div>
  </div>

<div>

{% endblock %}
