{% extends 'base.html' %}
{% block content %}
  <h1>BaytKom!</h1>
  <hr>

  <h5>Baytkom</h5> <span class="about"> is a website designed for booking rooms. It provides users with a convenient platform to search and reserve accommodations for their stay. Whether you are planning a business trip, family vacation, or a weekend getaway, Baytkom offers a wide range of options to suit your preferences and budget.</span></p>

<p>  With Baytkom, you can easily browse through a variety of rooms, including hotels, resorts, guesthouses, and apartments. The website provides detailed descriptions, photos, and reviews of each property, allowing you to make an informed decision before making a reservation.</p><br>
    
    Baytkom also offers a user-friendly booking system, where you can specify your check-in and check-out dates, number of guests, and any additional requirements you may have. The website provides real-time availability and pricing information, ensuring a seamless booking experience.
    <p>
    Additionally, Baytkom offers secure payment options, ensuring the safety of your personal and financial information. Their customer support team is available to assist you with any inquiries or issues you may encounter during the booking process.</p><br>
    <p>
    Overall, Baytkom aims to provide a reliable and efficient platform for users to find and book rooms for their travel needs.
  </p><br>
{% endblock %}
