{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<h2>Update Profile</h2>


{{user.username}}
{% load static %}
<img src="{% static user.profile.image|cut:'main_app/static' %}">


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <a href="{% url 'password_change' %}">Change Password FOR {{ user.username}}</a>
  {{ form.as_p }}
  <button type="submit">Update</button>
</form>


<script>
  let selectEl = document.getElementById('id_user_type');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}