@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
.back{
background-image: url('https://c1.wallpaperflare.com/preview/42/830/532/window-window-seat-cushions.jpg') ;
filter: blur(8px);
z-index: -1;
size: cover;

}
.contain{
 
  
  filter: grayscale(100%);
  z-index: -1;

}
body{
  background-image: url('./backgrounds/living3.jpg') ;
  background-color: gray;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'Dancing Script', cursive; */
  /* color: black; */
  /* background-image: url('main_app\static\uploads\moviebkg.jpg'); */
/* z-index: 2; */

  background-size: cover;
  background-color: #fffefe5e;

}
img {
  z-index: 2;
}
.BaytKom-footer{
  font-family: 'Love Light', cursive;

}
.Baytkom-Logo{
  font-family: 'Love Light', cursive;
  margin: 12px;
}
main{
  flex: 1 0 auto;
}
footer.page-footer{
padding: 0;
text-align: right;
}
.flex-container{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

button{
  margin: 10px;
}
.submitbtn{
  margin: 10px;
}

.imgsize{
  margin-top: 0;
}

/* #background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
} */
.f-btn{
  size: small;
}

nav,footer ,.page-footer{
  /* background-color: #3f3c3c9c; */
  background-color: #c6bdbda3;
  font-size: 14px;
  z-index: -1;
  text-decoration-color: #3f3c3c;
  color: #3f3c3c;

}

.container{
/* width:100%;
height: 100vh; */
width: 1200px;
height: 750px;
background: #050404ba;
display: flex;
align-items: center;
justify-content: center;
}
.swiper{
  width: 90%;
  height: fit-content;

}
.swiper-slide img{
  /* width: 100%;
  height: 80%; */
  width: 1200px;
  height: 700px;

}

.sidebar {
  padding: 0px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 5px 0;
}

/* .sidebar-menu li a {
  text-decoration: none;
  color: #ebe2e220;
} */
/* 
 .sidebar-menu li a:hover {
  color: #fff7f7c1;
} */


.sidebar-menu li a:hover {
  color: #000;
}

.profile-picture{
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.px{
font-size: 14pt;
color: darkslateblue;
font-weight: bold;

}

.b_logo{
  width: 110px;
  height: auto;
  z-index: -1;
}
.h_logo{
  display: flex;
  font-size: 140px;
  color: #ffff;
  font-weight: 550;
  margin-left: 0;
  margin-top: 0;
  background-color: #3f3c3c9c;

}
.nav-wrapper,.navbar-fixed{
  height: 200px;
  color: #3f3c3c; 
}

.right,.nav-wrapper{
  color: black;
  /* color: #3f3c3c;  */
}
a{
  color:#000;
}

.row_admin{
  display: flex;
  justify-content: space-around;
}
.r{
  margin-top: 50px;
  padding-top: 15px;
  width: 200px;
  height: 150px;
  font-size: 20px;
  background-color: rgb(102, 102, 102);
  border-radius: 20%;
  color: #ffff;
  font-weight: bold;
  text-align: center;

}
.r:hover{
background-color: #f9f4f4c9; 
}